RewriteEngine on
RewriteBase /

# Remove www
RewriteCond %{HTTP_HOST} ^www.meteostat.net$ [NC]
RewriteRule ^(.*)$ https://meteostat.net/$1 [R=301,L]

RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]