@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

.skeleton {
  cursor: wait;
  background: $gray-200;
  animation: placeholder-glow 2s ease-in-out infinite
}

.skeleton-table {
  min-height: calc(815px + 16px + 16px);
}

.skeleton-maps {
  min-height: calc(587px + 16px + 16px);
}

.skeleton-climate {
  min-height: calc(587px + 16px + 16px);
}